[Unit]
Description=Laravel Queue Worker
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always
KillSignal=SIGQUIT
TimeoutStopSec=30
WorkingDirectory=/var/www/at-yarislari-tahmin
ExecStart=/usr/bin/php /var/www/at-yarislari-tahmin/artisan queue:work redis --sleep=3 --tries=3 --timeout=90

[Install]
WantedBy=multi-user.target
